* {
  box-sizing: border-box;
  font-family: 'Source Code Pro';
}

ul {
  padding: 0;
}

body {
  margin:0;
  padding:0;
  background-image: url(img/footer.png);
  width: 100%;

}



h1 {
  position: relative;
  text-align: center;
  text-shadow: 5px 5px 2px grey;
  font-size: 200%;
  padding-left: 10px;
}




.titre{
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 10px;
  border: 5px solid black;
  border-radius: 15px;
}

h1{
  font-size: 1.4em;
  font-family: 'Press Start 2P';
  color: black;
}

h2{
  font-size: 1.3em;
  font-family: 'Press Start 2P';
  text-align: center;
}
.wam{
  background-color: black;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  border-radius: 15px;
  align-items: center;
  text-align: center;
}
.tony{
  height: 140px;
  border-radius: 20px;
  border: 5px solid white;
  padding: 5px;
  margin: 10px;
}

main > * {
  margin: 20px 10px !important;
}

main{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 89vh;
  background-color: white;

}

.pres{
  border: 5px solid black;
  border-radius: 10px;
  display: none;

}

#moi{
  display: flex;
  text-align: center;
}
p{
  color: black;
  display: block;

}
.form{
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;


}

.form ul{
  display: flex;
  flex-direction: column;
  list-style: none;
}



.exp{
  border: 5px solid black;
  border-radius: 10px;

}

.exp ul{
  margin: 15px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.exp ul li:not(:last-child) {
  padding: 0px 0px 30px;
}


.lang{
  border: 5px solid black;
  border-radius: 10px;
}

.lang img{
  height: 30px;
}

.pays li{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 10px;
}

.pays li i {
  padding-left: 20px;
}

.comp{
  border: 5px solid black;
  border-radius: 10px;
}
.rio{
  display: flex;
  justify-content: space-around;
  padding: 15px;

}
.rio img{
  width: 40px;
  height: 40px;
}

.fun{
  border: 5px solid black;
  border-radius: 10px;

}


.lol{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;

}
.lol img{
  height: 30px;
  width: 30px;
  border-radius: 20px;
  border: 1px solid black;
  position: relative;
  bottom: 10px;
}


footer{
  height: 80px;
  width: 100%;
  border-top: 1px solid white;
  position: absolute;
  bottom: 0px;

}
nav.navico {
  position: fixed;
  bottom: 10px;
  left: 30%;
}

ul.dock {
 display: flex;
 flex-direction: row;
 text-align: center;
 list-style: none;
 margin: 5px;
 padding: 0;
}

li {
 transition: all 0.3s ease-out;
 margin: 2px;
 padding: 0px;
 position: relative;
 top: 0;
}

a {
 height: 50px;
 width: 50px;
 text-decoration: none;
}

.dock img{
 width: 50px;
 height: 50px;
 border-radius: 50px;
 background-color: white;
 transition: all 0.2s;
}


.dock img:hover {
 transform: scale(1.5);
 position:relative;
 border: 1px solid white;
 margin: 10px 0px;
 z-index: 2;
 box-shadow: 9px 5px 21px white;
}


.pied{
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: block;
  height: 100%;
}
.pied img{
  height: 30px;
  width: 30px;
  border-radius: 30px;
  border: 1px solid white;
  box-shadow: 2px 3px 2px white;

}

p.tete ~ p, p.tete {
  margin: 3px 0px;
  padding: 0px 20px 5px;
}
a{
  text-decoration: none;
}
p{
  color: black;
  display: block;
  animation-duration: 1s;
  animation-name: slide;
}

p#copyright {
  color: white;
  position:absolute;
  top: 10px;
  right: 0%;
  padding: 0px 20px;
}

@keyframes slide {
  from {
    right:-100%;
  }

  to {
    right:0%;
  }
}


  /*-----------------------------------------*/
  /*---------RESPONSIVE----------------------*/


  @media screen and (max-width: 600px){
    body {
      margin:0;
      padding:0;
      min-height: 100%;
      background-image: none;
      display: flex;
      flex-direction: column;

    }

    .wam {
      margin-bottom: 10px ;
    }

    .wam > div {
      margin: 10px;
    }
    main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: white;
    }
    .pied{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    a{
      height: 34px;
      width: 34px;
      text-decoration: none;
      margin: 5px;
    }

    #copyright{
      display: none;
    }
    footer{
      height: auto;
      width: 100%;
      border-top: 1px solid black;
      bottom: 0px;
      background-image: url(img/footer.png);

    }
    .navico{
      display: none;
    }
