*{
  margin: 0px;
  padding: 0px;

}


/*-------------------HEADER-----------------*/

header{
  display: flex;
  flex-direction: row;
}
.titre{
  flex-direction: column;
  display: inline-flex;
  text-align: center;
  justify-content: space-around;
  margin: 10px;
  border: 5px solid black;
  border-radius: 10px;

}

h1{

  font-size: 2em;
  font-family: cursive;
}
h2{

  font-size: 18px;
  font-family: cursive;
}
h3{
  display: none;
  font-family: cursive;
}
.wam{
  background-color: black;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  width: 255px;
  margin: 10px;
  border-radius: 15px;
  height: 250px;
  align-items: center;
  text-align: center;
}
.tony{
  height: 130px;
  width: 110px;
  border-radius: 20px;
  border: 5px solid white;
  padding: 5px;
}



/*--------------------MAIN------------------------*/


main{
  display: flex;
  flex-direction: column;
  }/*--display flex pour positionner toutes mes div en colonnes--*/

  main a, img{
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: 33px;
    align-items: center;
    }/*-- flex centre tout mes titres de div--*/


    .pres{
      border: 5px solid black;
      border-radius: 10px;
      display: none;
      margin: 10px;
    }

    .pres img{
      position: absolute;
      left: 10%;
      margin: 2px;
      height: 30px;
      width: 30px;
    }

    #moi{
      display: flex;
      text-align: center;
    }

    .form{
      border: 5px solid black;
      border-radius: 10px;
      margin: 10px;
      text-align: center;


    }

    .form ul{
      display: flex;
      flex-direction: column;
      list-style: none;
    }
    .form img{
      position: absolute;
      left: 5%;
      margin: 2px;
      height: 30px;
    }

    .comp{
      border: 5px solid black;
      border-radius: 10px;
      margin: 10px;


    }
    .comp img{

      height: 30px;
    }
    .html{

      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: center;

    }
    .css{
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: center;

    }
    .js{
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: center;

    }
    .word{
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .eval{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }
    .exp{
      border: 5px solid black;
      border-radius: 10px;
      margin: 10px;
    }
    .exp img{
      position: absolute;
      left: 5%;
      margin: 2px;
      height: 30px;
    }
    .exp ul{
      margin: 30px;
    }


    .lang{
      border: 5px solid black;
      border-radius: 10px;
      margin: 10px;
    }
    .lang img{
      position: absolute;
      left: 5%;
      margin: 2px;
      height: 30px;
    }
    .pays li{
      padding: 10px;
      list-style: none;
    }
    .pays i{
      position: relative;
      left: 250px;
      top: 10px;
    }
    .fun{
      border: 5px solid black;
      border-radius: 10px;
      margin: 10px;
      height: 120px;
    }


    .lol{
      display: flex;
      flex-direction: row;
      justify-content: space-around;

    }
    .lol img{
      height: 30px;
      width: 30px;
      border-radius: 20px;
      border: 1px solid black;
      position: relative;
      bottom: 10px;
    }

    .haut{
      position: relative;
      bottom: 1px;
      height: 20px;
      width: 20px;
      left: 50%;
      border-radius: 20px;

    }

    /*---------------------------------------------------------------------*/
    /*------------------RESPONSIVE----------------------------------------*/
    /*--------------------------------------------------------------------*/

    @media screen and (max-width: 600px){

      *{
        margin: 0px;
        padding: 0px;
      }

      html body{
        height: 100%;
        width: 100%;
      }

      body {
        margin:0;
        padding:0;
        min-height: 100%;
      }

      /*-------------HEADER--------------*/
      /*-------------------------------*/
      header{
        top: 0px;
        left: 0px;
        height: 180px;
        width: 100%;
        background-color: white;
        text-align: center;
      }
      h1{
        display: none;
      }
      h2{
        color: black;
        font-size: 20px;
        top: 80px;
        left: 110px;
        position: absolute;
        display: inline;

      }
      h3{
        color: black;
        font-size: 20px;
        position: absolute;
        top: 0px;
        left: 111px;
        display: inline;
      }
      hr{
        display: none;
      }
      p{
        display: none;

      }

      .tony{
        position: absolute;
        left: 5px;
        top: 1px;
        height: 110px;
        width: 90px;
        border: 2px solid white;
        padding: 2px;


      }
      .wam{
        background-color: black;
        position: relative;
        top: 117px;

      }



      /*-----------MAIN--------------*/
      /*---------------------------------*/
      main{
        text-align: center;

      }
      main a{
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin: 10px;
      }
      .pres{
        border: 5px solid black;
        border-radius: 10px;
        margin: 10px;
        display: block;
      }
      .pres img{
        position: absolute;
        left: 15%;
        margin: 2px;
        height: 30px;
      }


      .form{
        border: 5px solid black;
        border-radius: 10px;
        margin: 10px;


      }
      .form img{
        left: 15%;
        margin: 5px;
      }
      .form ul{
        display: flex;
        flex-direction: column;
        list-style: none;
      }
      .comp{
        border: 5px solid black;
        border-radius: 10px;
        margin: 10px;

      }
      .comp img{
        left: 15%;
        margin: 5px;

      }
      .eval{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

      }
      #COMPETENCES> .eval> img{
        height: 20px;
      }

      .exp{
        border: 5px solid black;
        border-radius: 10px;
        margin: 10px;
        height: 300px;
        overflow: auto;

      }
      .exp img{
        margin: 5px;
        left: 15%;

      }

      .lang{
        border: 5px solid black;
        border-radius: 10px;
        margin: 10px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;

      }
      .lang img{

        left: 15%;
        margin: 5px;
      }
      .pays{

        display: inline-flex;
        flex-direction: column;

      }
      .pays i{
        position: relative;
        left: 30px;
        top: 10px;

      }

      .fun{
        border: 5px solid black;
        border-radius: 10px;
        margin: 10px;
        height: 155px;
      }
      .fun img{
        margin: auto;
      }
      .lol {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .haut{
        position: relative;
        bottom: 1px;
        height: 20px;
        width: 20px;
        left: 50%;
