@media print {
  *{
    margin: 0pt;
    padding: 0pt;

  }


  /*-------------------HEADER-----------------*/



  header{
    top: 0%;
    left: 0%;

    text-align: center;
  }
  h1{

    font-size: 22pt;

  }
  h2{

    font-size: 16pt;

  }
  h3{
    display: none;
  }

  .wam{
    background-color: white;
    color: black;
    font-size: 13pt;
    text-decoration: underline;
  }
  
  .tony{
    top: 5%;
    height: 10%;
    width: 10%;
    border-radius: 10%;

  }
  p{
    position: relative;
    top: 150pt;
    text-align: center;



  }
  hr{
    display: none;
  }




  /*--------------------MAIN------------------------*/

  .pres{

    display: none;
  }

  .form{
    border: 3pt solid black;
    border-radius: 10pt;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;


  }
  .form img{
    height: 20pt;
    width: 20pt;
    position: relative;
    text-align: center;
  }

  .comp{
    border: 3pt solid black;
    border-radius: 10pt;
    margin: 1%;


  }

  .comp img{
    height: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;


  }

  #COMPETENCES < .eval < img{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }



  .exp{
    border: 3pt solid black;
    border-radius: 10pt;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;


  }
  .exp img{

    position: relative;
    margin: 1%;
    height: 30pt;
  }
  .exp ul{
    margin: 3%;
  }


  .lang{
    border: 3pt solid black;
    border-radius: 10pt;
    margin: 1%;
   }

  .lang img{

    left: 35%;
    height: 20pt;
    position: relative;

  }
  #langues < .pays < img{
    padding: 2%;
    list-style: none;
    display: flex;
    flex-direction: column;

  }

  .pays i{
    display: flex;
    align-items: center;
    top: 1%;
  }
  .fun{
    border: 3pt solid black;
    border-radius: 10pt;
    margin: 1%;


  }
  .lol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  .lol img{
    height: 20pt;
    width: 20pt;
    border-radius: 15pt;
    border: 2pt solid black;
    display: flex;
    flex-direction: row;


  }

}
