@media print {
  *{
    margin: 0pt;
    padding: 0pt;

  }

body{
  display: flex;
  flex-direction: column;

}
  /*-------------------HEADER-----------------*/



  header{
    display: flex;
    flex-direction: row;
  }
  .titre{
    flex-direction: column;
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
    margin: 10px;
    border: 5px solid black;
    border-radius: 15px;

  }

  h1{

    font-size: 2em;
    font-family: cursive;
  }
  h2{

    font-size: 22pt;
    font-family: cursive;
  }
  h3{
    display: none;
    font-family: cursive;
  }
  .wam{
    background-color: white;
    color: black;
    font-size: 11pt;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    width: 255px;
    margin: 10px;
    border-radius: 15px;
    height: 250px;
    align-items: center;
    text-align: center;
    border: 5px solid black;
  }
  .tony{
    height: 130px;
    width: 110px;
    border-radius: 20px;
    border: 5px solid black;
    padding: 5px;
  }
  }
  hr{
    display: none;
  }




  /*--------------------MAIN------------------------*/

  .pres{

    display: none;
  }

  .form{
    border: 3pt solid black;
    border-radius: 10pt;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;


  }
  .form img{
    height: 20pt;
    width: 20pt;
    position: relative;
    text-align: center;
  }

  .comp{
  display: none;
  }


  .exp{
    border: 3pt solid black;
    border-radius: 10pt;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;


  }
  .exp img{

    position: relative;
    margin: 1%;
    height: 30pt;
  }
  .exp ul{
    margin: 3%;
  }


  .lang{
    border: 3pt solid black;
    border-radius: 10pt;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;


   }

  .lang img{
    height: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  #langues < .pays < img{
    padding: 2%;
    list-style: none;
    display: flex;
    flex-direction: column;

  }

  .pays i{
    display: flex;
    align-items: center;
    top: 1%;
  }
  .fun{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3pt solid black;
    border-radius: 10pt;
    margin: 1%;


  }
  .lol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  .lol img{
    height: 20pt;
    width: 20pt;
    border-radius: 15pt;
    border: 2pt solid black;
    display: flex;
    flex-direction: row;


  }
  #top{
    display: none;
  }

}
